nav {
	position: relative;
	background-color: lightgrey;
	height: 40px;
	width: 100%;
	text-align: right;
	padding: 10px;
}

.gregs-list{
	position: absolute;
	left: 10px;
	font-size: 110%;
}

main {
	margin-left: 100px;
	margin-top: 30px;
	margin-right: 100px;
	position: relative;


}

label {
	margin-bottom: 20px;
}

input{
	display: inline-block;

}

.pagination {
	margin-top: 35px;
	 /*border: solid lightgrey;*/
	height: 35px;
	width: 400px;

}

.pagination span {

}

.pagination .prev {

}

.pagination .numbers {

}

.pagination .next {

}

.magnifying-glass {
	height:35px;
	width: auto;
	vertical-align: middle;
}

.list {
	list-style: none;
}

.searchbar .button img {
	height: 35px;

}